* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header-div-start */

.header-div {
  width: 100%;
  height: 500px;
}
.bg-div {
  width: 90%;
  height: 500px;
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100%;
  margin: 0 auto;
  color: black;
  position: relative;
}
.bg-div-1 {
  width: 100%;
  height: 500px;
  background-color: black;
  position: absolute;
  opacity: 0.5;
}
.menu {
  width: 90%;
  height: 45px;
  color: rgba(0, 8, 8, 0.992);
  background: rgb(255, 255, 255);
  margin-top: 30px;
  margin-left: 50px;
  text-align: right;
}
.menu ul {
  display: inline-block;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 30px;
  padding: 5px;
}
.menu a {
  text-decoration: none;
  display: inline;
}
.drop {
  position: relative;
  display: inline;
}
.drop-down {
  position: absolute;
  display: none;
  top: 22px;
  right: 0px;
  width: 130px;
  background: rgb(255, 255, 255);
}
.drop-down a {
  display: block;
  text-align: center;
  padding: 10px;
}

.drop:hover .drop-down {
  display: block;
}
.drop-down a:hover {
  background-color: blue;
  color: aliceblue;
}
.h1 {
  color: white;
  text-align: center;
  margin-top: 70px;
  padding: 10px;
}
hr {
  width: 60%;
  margin-left: 240px;
}
.h11 {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 3.7rem;
}
.pera {
  color: white;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin: auto;
}
.btn {
  text-align: center;
  margin: auto;
  display: block;
  width: 16%;
  height: 40px;
  font-size: 15px;
  padding: 5px;
  background-color: rgb(245, 245, 25);
  box-shadow: 2px 3px 5px red;
  margin-top: 15px;
  color: black;
  font-weight: 700;
}
/* header-div-end */

/* cata-div-start */

.cata-div {
  width: 100%;
  height: 500px;
}
.cata-div-1 h2,
h4 {
  text-align: center;
  padding: 10px;
}
.cata-div-1 {
  width: 90%;
  height: 510px;
  background: rgb(207, 207, 198);
  margin: auto;
}
.img-div {
  width: 90%;
  height: 500px;
  margin: auto;
}
.img-left {
  width: 20%;
  height: 300px;
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}
.img-middle,
.img-middle-1,
.img-right {
  width: 20%;
  height: 300px;
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}
.img-middle img,
.img-middle-1 img,
.img-right img {
  border-radius: 50%;
}
.img-middle .pizza,
.img-middle-1 .pizza,
.img-right .pizza {
  text-align: center;
  padding: 20px;
}
.img-middle p,
.img-middle-1 p,
.img-right p {
  text-align: center;
  color: rgb(103, 112, 112);
}

.img-left img {
  border-radius: 50%;
  margin-left: 20px;
}
.pizza {
  text-align: center;
  padding: 20px;
}
.img-left p {
  text-align: center;
  color: rgb(103, 112, 112);
}
.btn-1 {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 40px;
  display: block;
  margin-left: 130px;
  margin-top: 20px;
  background: rgb(54, 227, 32);
  box-shadow: 4px 5px 5px rgb(36, 36, 29);
  outline: none;
  border-radius: 10px;
  color: rgb(42, 39, 39);
  font-weight: 700;
  padding: 5px;
}

/* cata-div-end */

/* life-div-start */

.life-div {
  width: 100%;
  height: 300px;
}
.life-div-1 {
  width: 80%;
  height: 300px;
  margin: auto;
}
.div-left {
  width: 55%;
  height: 300px;
  float: left;
  margin-left: 30px;
}
.div-left h5 {
  margin-top: 30px;
  color: rgb(137, 137, 131);
}
.div-left h6 {
  margin-top: 20px;
  color: rgb(41, 41, 39);
}
.div-left p {
  color: rgb(137, 137, 131);
  width: 80%;
}
.div-left h1 {
  font-size: 40px;
  width: 70%;
}
button {
  margin-top: 20px;
  background-color: rgb(70, 24, 112);
  color: rgb(249, 248, 253);
  padding: 7px;
  border-radius: 10px;
}
.div-right {
  width: 35%;
  height: 300px;
  float: left;
}
/* life-div-end */

/* card-div-start */
.card-div {
  width: 100%;
  height: 870px;
}
.card-div-1 {
  width: 90%;
  height: 870px;
  margin: auto;
}
.card-div-1 h1 {
  text-align: center;
}
.card {
  width: 90%;
  height: 870px;
  margin-left: 100px;
}
.card-left {
  width: 20%;
  height: 350px;
  float: left;
  border: 1px solid green;
  box-shadow: 5px 7px 7px rgb(36, 36, 29);
  margin-left: 20px;
  margin-top: 60px;
}
.card-left h2 {
  background: rgb(210, 220, 28);
  text-align: center;
  padding: 10px;
}
.card-left h3 {
  background: rgb(48, 49, 31);
  padding: 10px;
  color: white;
}
.card-left span {
  background: rgb(48, 49, 31);
  padding: 10px;
  color: rgb(246, 240, 240);
  margin-left: 40px;
}
.card-left p {
  padding: 10px;
  color: rgb(102, 97, 97);
  text-align: justify;
}

/* card-div-end */

/* basic-div-start */
.basic {
  width: 100%;
  height: 400px;
}
.basic-1 {
  width: 90%;
  height: 400px;
  margin: auto;
}
.basic-left {
  width: 30%;
  height: 410px;
  float: left;
  border: 2px solid rgb(108, 181, 159);
  text-align: center;
  margin-left: 30px;
}
.basic-left h1 {
  background-color: black;
  color: white;
  padding: 18px;
  font-size: 15px;
  border: 3px solid rgb(17, 20, 20);
}
.basic-left h3 {
  border-bottom: 2px solid rgb(108, 181, 159);
  padding: 16px;
}
.basic-left button {
  border: 1px solid rgb(108, 181, 159);
  background-color: rgb(48, 116, 93);
  width: 100px;
  height: 35px;
  font-size: 17px;
  margin: auto;
  margin-top: 15px;
  box-shadow: 3px 4px 7px rgb(36, 36, 29);
  border-radius: 7px;
}

/* basic-div-end */

/* footer-div-start */
.footer {
  width: 100%;
  height: 470px;
}
.footer-1 {
  width: 95%;
  height: 470px;
  margin: auto;
  background: rgb(25, 22, 61);
}
.social {
  width: 20%;
  height: 500px;
  text-align: center;
  color: white;
  margin-left: 10px;
  float: left;
  margin-top: 40px;
}
.icon {
  background: rgb(25, 22, 61);
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin-left: 10px;
  border-radius: 50px;
  margin-top: 30px;
}
.follow {
  width: 30%;
  height: 500px;
  text-align: center;
  color: white;
  float: left;
  margin-top: 40px;
}
input {
  padding: 7px;
  width: 250px;
  height: 45px;
  margin-top: 30px;
}
.follow button {
  color: rgb(16, 15, 15);
  background: rgb(244, 216, 11);
  width: 100px;
  padding: 9px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgb(245, 245, 7);
}
.map {
  width: 48%;
  float: left;
  color: white;
  text-align: center;
  margin-top: 40px;
}
iframe {
  margin-top: 40px;
  margin-left: 40px;
}

/* footer-div-end */
