*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /*header-div-start-here */

.header-div {
  width: 100%;
  height: 400px;
 
}
.bg-div {
  background-image: url("images/bg.jpeg" );
  width: 95%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  color: aliceblue;
  
  
}
.div-1 {
  display: block;
  width: 40%;
  padding: 20px;
  height: 400px;
  float: left;
  margin-left: 50px;
}
.web{
  color: white;
  padding: 15px;
}
.div-1 h1,p{
  color: rgb(251, 242, 242);
  padding: 15px;
}
span{
  color: rgb(247, 240, 25);
}
button{
  background-color: rgb(217, 158, 81);
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 40px;
  padding: 5px;
  width: 80px;
 }
.div-2{
  float: left;
  width: 40%;
  width: 400px;
}
.img{
  width: 90%;
  height: 400px;
  margin-left: 130px;
}
  

/* header-div-end-here*/
h4{
  font-size: 40px;
  text-align: center;
}

 /*body-div-start-here */
.body-div{
  width: 100%;
  height: 364px;
}
.body-div-1{
  width: 100%;
  height: 350px;
  position: relative;
  float: left;
}

.div-left{
  width: 30%;
  height: 390px;
  background: #000;
  margin-left: 40px;
  float: left;
 
}
  
.h2{
  background: rgb(64, 22, 218);
  text-align: center;
  color: white;
  margin-top: 20px;

}
.logo{
  width: 70px;
  height: 60px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  border-radius: 90px;
}
.p1{
  color: rgb(242, 236, 236);
  margin-top: 20px;
  text-align: center;
}
h3{
  text-align: center;
  margin-top: 20px;
  color: white;
  background: rgb(41, 108, 45);
  padding: 5px;
  font-size: 15px;
}
.div-middle{
  width: 30%;
  height: 390px;
  background: #000;
  margin-left: 20px;
  float: left;
 
}
.div-right{
  width: 30%;
  height: 390px;
  background: #000;
  margin-left: 20px;
  float: left;
 
}

/*body-div-end-here */

/*footer-div-start-here */
.footer{
  width: 100%;
  height: 400px;
 
}
.footer{
  width: 90%;
  height: 350px;

}
.img-div{
  width: 45%;
  height: 400px;
  float: left;
  margin-left: 30px;
}
.welcome{
  width: 40%;
  height: 400px;
  float: left;
  margin-left: 30px;
  color: black;
  padding: 10px;
}
img{
  height: 400px;
  width: 400px;
}
.welcome p,h6{
  color: black;
  width: auto;
  padding: 10px;
}
h1{
  padding: 20px;
}
/*footer-div-end-here */

