*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header-div-start */


.animation{
  width: 100%;
  height: 600px;
}
.bg{
  width: 90%;
  height: 700px;
  margin: auto;
  background-image: url("images/images\ \(1\).jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 30px;
  animation-name: carrun;
  animation-duration: 3s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-delay: 1s;
  z-index: 1;

  
}
.bg1{
  width: 100%;
  height: 250px;
  background-image: url("images/images\ \(2\).jfif");
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  animation-name: carru;
  position: absolute;
  animation-duration: 3s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-delay: 1s;
  margin-top: 500px;
  display: block;
  z-index: 1;
  
 }
 .car img{
  width: 24%;
  height: 300px;
  animation-name: carru;
  position: absolute;
  animation-duration: 3s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-delay: 1s;
  margin-top: 10px;
  display: block;
  z-index: 1;
  
 }
@keyframes carrun{

  0%{
    left: 0px;
    top: 0px;
  }
  100%{
    left: 10%;
    top: 0px;
    transform: translateX(1%);
}
  



/* footer-div-end */