*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 60px;
    padding: 20px;

}
.content {
    width: 50%;
    height: 20px;
    float: left;
  }
.header-contact a{
    text-align: center;
    float: left;
    text-decoration: none;
    width: 20%;
    color: black;

}
.header-contact i a{
    list-style: none;
    text-align: center;
    float: left;
}
.header-contact-1 a{
    text-align: center;
    float: left;
    text-decoration: none;
    color: black;
  

}
.header-contact-1 i a{
    list-style: none;
    float: left;
}
.header-social{
    float: left;
    list-style: none;
    width: 10%;
    height: 20px;
    text-align: center;
    margin-left: 70px;
}
.header-social li a{
    float: left;
    width: 20%;
}
.content:hover{
    color: red;
    font-weight: 900;
    cursor: pointer;
}
.header-contact a:hover,.header-contact-1 a:hover{
    color: rgb(228, 39, 196);
    font-weight: 800;
}
/*header end*/

#menu-div{
    width: 100%;
    height: 20px;
    margin: 40px 10px;
}
.logo-img{
    width: 30%;
    float: left;
}
.home-div a{
    width: 10%;
    float: left;
    text-decoration: none;
}
.courses-div {
    width: 10%;
    float: left;
    text-decoration: none;

}
.courses-div-1 {
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.courses-div-2 {
    position: absolute;
    display: none;
    width: 90px;
    text-decoration: none;
}
.courses-div-2 a{
   text-decoration: none; 
   display: inline-block;
   padding: 15px;
   background: rgb(241, 222, 222);
   transition: .1s;
   width: 120px;
   height: 40px;
  
}
.courses-div:hover .courses-div-2{
    display: block;
    text-decoration: none;
   
}
.courses-div-2 a:hover{
    color: rgb(38, 255, 0)
   

}
.about-div a{
    width: 10%;
    float: left;
    text-decoration: none;

}
.team-div a{
    width: 10%;
    float: left;
    text-decoration: none;
}
.blog-div a{
    width: 10%;
    float: left;
    text-decoration: none;
}
.contact-div a{
    width: 10%;
    float: left;
    text-decoration: none;
    color: rgb(11, 11, 35);
}
.search-div{
    width: 3%;
    height: 25px;
    float: left;
   
    text-align: center;
    padding: 5px;
    border-radius: 70px;
    background: rgb(243, 240, 240);

}
/*menu end*/
.contact-us-div{
    width: 100%;
    height: 80px;
   margin-top: 50px;

}
.contact-us-div-1{
    text-align: center;
    
}
.contact-us-div-1 h1{
    margin: 0 auto;
    font-weight: 700;
    font-size: 25px;
    border-width: 3px;
    background-color: rgb(0, 13, 255);
    padding: 30px;
    text-transform: uppercase;
    color: rgb(234, 241, 235);
}
 
/*contact-us-div-end*/
.form{
    width: 100%;
    height: 750px;
    background: rgb(116, 198, 29);
   

}
.text11{
    width: 250px;
    height: 30px;
    outline: none;
    color: yellow;
    margin-left: 20px;

}
.text111{
    width: 25px;
    height: 20px;
    outline: none;
    color: yellow;
    margin-left: 20px;


}
.text1111{
    margin-left: 120px;
    color: aquamarine;

}
.genderr{
    color: cadetblue;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 30px;
}
.form-1{
    width: 70%;
    height: 750px;
    background: rgb(240, 99, 99);
    margin: 0 auto;
    padding: 40px;
}
.div-name{
   padding: 15px 10px;
   margin: 0 auto;
}
.div-name label{
    color: blue;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 30px;
    
    
}

