*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
/* font-family: 'Bubblegum Sans', cursive;
font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:wght@300;400&display=swap');

/* header start here here */
 header{
  width: 100%;
  height: 70px;
  margin-top: 30px;
}
.nav{
  width: 90%;
  height: 70px;
  background: rgb(206, 25, 25);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  
}
.logo{
  width: 20%;
  margin: 10px;
  border-radius: 50px;
 
}
.nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
.nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.ul li:hover{
  background: rgb(48, 199, 18);
  color: #FE28A2; 
 }
 .ul li a:hover{
  background: rgb(48, 199, 18);
  color: #FE28A2; 
 }
.ul li:hover{
  box-shadow: -7px -7px 20px 0px rgb(206, 25, 25),-4px -4px 5px 0px #fff9,7px 7px 20px 0px #0002,4px 4px 5px 0px #0001,inset 0px 0px 0px 0px #fff9,inset 0px 0px 0px 0px #0001,inset 0px 0px 0px 0px #fff9,inset 0px 0px 0px 0px #0001;
}


.drowp{
  position: relative;
  display: inline;
 }
 .drowp-1{
   position: absolute;
   display: none;
   top: 0;
   right: 150;
   left: 0;
   margin-top: 27px;
   background:  rgb(199, 18, 18);
   width: 190px;
   
  }
  .drowp-1 li a{
   display: flex;
   background: rgb(199, 18, 18);
   width: 150px; 
   padding: 10px;
   
   
  }
  .drowp-1 li a:hover{
   background: rgb(39, 18, 199);
   
  }
  .drowp:hover .drowp-1{
   display: block;
  }
  .drowp-2{
   position: relative;
   display: inline;
  }
  .drowp-3{
    position: absolute;
    display: none;
    top: 0;
    right: 200;
    left: 0;
    margin-left: 180px;
    
   }
   .drowp-3 li {
    display: flex;
    background: rgb(199, 18, 18);
    width: 200px;
    margin-top: 5px;
    
    
   }
   .drowp-3 li a:hover{
    background: rgb(39, 18, 199);
    
    
   }
   .drowp-3 li:hover{
    background: rgb(48, 199, 18);
    
    
   }
   .drowp-2:hover .drowp-3{
    display: block;
   } 

/*header-end-here */

/* body-div- start  here */

.body-div{
  width: 90%;
  height: 360px;
  background-image: url("../images/business-meeting_gettyimages-603992138.webp");
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin: auto; z-index: -1;

} 

.body-left::after{
  content: "";
  position: absolute;
  top: 30px;
    left: 60px;
    width: 90%;
    height: 300px;
    background:  rgb(189, 189, 197);
    box-shadow: 10px 10px 15px,-5px -5px 15px white;
    border-radius: 20px;
    z-index: -1;
    opacity: .7;
} 

.body-div-1{
  width: 90%;
  height: 360px;
  display: flex;
  margin: auto;
}
.bussiness-img{
  width: 90%;
  height: 360px;
  display: flex;
  margin: auto;
  margin-top: 10px;
}
.body-left{
  width: 100%;
  height: 360px;
  text-align: center;
}
.h1{
 font-family:'Bubblegum Sans',cursive;
 margin-top: 120px;
}

.h2{
  font-family:'Bubblegum Sans',cursive;
  margin-top: 30px;
  margin-left: 60px;
  position: relative;
 }
 .h2::before{
    content: "";
    position: absolute;
    top: 36px;
    left: 660px;
    width: 90px;
    height: 3px;
    background:  rgb(28, 28, 29);
  }
 .ngo-btn{
  font-family:'Bubblegum Sans',cursive;
 display: block;
 margin: auto;
 padding: 10px;
 cursor: pointer;
 background-color: rgb(247, 58, 58);
 color: rgb(250, 247, 247);
 outline: none;
 border: 1px solid  rgb(247, 58, 58);
 border-radius: 10px;
 font-weight: 700;
 margin-top: 40px;
 margin-left: 450px;
 cursor: pointer;
}
.h4:hover,.h5:hover,.h6:hover{
  cursor: pointer;
  color: blue;
  font-size: 20px;
  border: 3px solid red;
}
/*body-div-end-here */

/*polli-div-start-here */

.h55:hover,.h66:hover,.h77:hover,.h88:hover,.h99:hover,.h10:hover{
  cursor: pointer;
  color: rgb(252, 13, 101);
  border: 3px solid red;
}
.polli-1{
  width: 90%;
  height: 250px;
  margin: auto;
  display: flex;
  margin-top: 11px;
}
.polli-left{
  width: 40%;
  margin: auto;
}
.polli-right{
  width: 50%;
  margin: auto;
}

.user{
  border-radius: 50%;
  background-color: blue;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 7px;
}

.pdb{
  color:rgb(4, 4, 249) ;
  font-size: 1.9rem;
}
.pdb1{
  color:rgb(4, 4, 249) ;
  margin-top: 10px;
  font-size: 1.9rem;
  margin-left: 15px;
  position: relative;
}
.pdb1::after{
  content: "";
    position: absolute;
    top: 26px;
    left: 465px;
    width: 50px;
    height: 2px;
    background:rgb(4, 4, 249) ;
  }
.h4{
  font-family: cursive;
  border: 3px solid rgb(4, 4, 249);
  width: 70%;
  padding: 7px;
  color: rgb(232, 93, 93);
  margin-left: 30px;
  
}
.shaikat{
  animation-name: application;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  position: relative;
  animation-delay: 1s;
}

@keyframes application{
  0%{
    left: 0;
        top: 0;
}
  100%{
    left: 70px;
}
}

 .h5{
  font-family: cursive;
  border: 3px solid rgb(32, 143, 58);
  width: 70%;
  padding: 7px;
  color: rgb(86, 146, 148);
  margin-top: 10px;
  margin-left: 30px;
 }.h6{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 7px;
  color: rgb(86, 146, 148);
  margin-top: 10px;
  margin-left: 30px;
 }
 

/*polli-div-end-here */

/* payment-div-start */

.payment-1{
  width: 90%;
  height: 310px;
  margin: auto;
  display: flex; 
}
.payment-left{
  width: 40%;
  margin: auto;
  margin-left: 30px;
  
}
.payment-right{
  width: 50%;
  height: 300px;
  margin: auto;
  background-image: url("images/businesspeople-discussing-together-conference-room-260nw-532073215.webp");
  background-repeat: no-repeat;
  background-position: cover;
  background-attachment: scroll;
  background-size: cover;
  
}
.payment-right{
  animation-name: change;
  animation-duration: 2s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  position: relative;
  animation-delay: 1s;
}
@keyframes change{
  0%{
    left: 0;
        top: 0;        
}

50%{

  background-image: url("images/images\ \(1\).jfif");
}
75%{ background-image: url("images/images\ \(3\).jfif");

}
  100%{ background-image: url("images/images\ \(2\).jfif");
    left: 0px;
  }
}

.h44{
  font-family: cursive;
  border: 3px solid rgb(4, 4, 249);
  width: 70%;
  padding: 3px;
  color: white;
  margin-left: 30px;
  font-size: 20px;
  background-color:rgb(4, 4, 249) ;
  text-align: center;
  
 }
 .h55{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 3px;
  color: rgb(86, 146, 148);
  margin-left: 30px;
  font-size: 13px;
  margin-top: 10px;
 }
 .h66{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 3px;
  color: rgb(86, 146, 148);
  margin-left: 30px;
  font-size: 13px;
  margin-top: 10px;
 }
.h77{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 3px;
  color: rgb(86, 146, 148);
  margin-left: 30px;
  font-size: 13px;
  margin-top: 10px;
 }
 .h88{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 3px;
  color: rgb(86, 146, 148);
  margin-left: 30px;
  font-size: 13px;
  margin-top: 10px;
 }
 .h99{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 3px;
  color: rgb(86, 146, 148);
  margin-left: 30px;
  font-size: 13px;
  margin-top: 10px;
 }
 .h10{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 3px;
  color: rgb(86, 146, 148);
  margin-left: 30px;
  font-size: 13px;
  margin-top: 10px;;
 }
 .pay-img{
  width: 70%;
  box-shadow: 10px 10px 15px rgb(126, 106, 106);
 }

/* payment-div-end */

/* applicant-div-start */
.applicant{
  width: 100%;
  height: 285px;
  margin-top: 100px;
}
.applicant-1{
  width: 90%;
  height: 285px;
  margin: auto;
  display: flex;
}
.applicant-left{
  width: 40%;
  margin: auto;
}
.applicant-right{
  width: 50%;
  margin: auto;
}

.h44{
  font-family: cursive;
  border: 3px solid rgb(4, 4, 249);
  width: 70%;
  padding: 3px;
  color: white;
  margin-left: 30px;
  font-size: 20px;
  background-color:rgb(4, 4, 249) ;
  text-align: center;
  
  
 }
 .h55{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 3px;
  color: rgb(86, 146, 148);
  margin-left: 30px;
  font-size: 13px;
  margin-top: 10px;
 }
 .h66{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 3px;
  color: rgb(86, 146, 148);
  margin-left: 30px;
  font-size: 13px;
  margin-top: 10px;
 }
.h77{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 3px;
  color: rgb(86, 146, 148);
  margin-left: 30px;
  font-size: 13px;
  margin-top: 10px;
 }
 .h88{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 3px;
  color: rgb(86, 146, 148);
  margin-left: 30px;
  font-size: 13px;
  margin-top: 10px;
 }
 .h99{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 3px;
  color: rgb(86, 146, 148);
  margin-left: 30px;
  font-size: 13px;
  margin-top: 10px;
 }
 .h10{
  font-family: cursive;
  border: 3px solid  rgb(32, 143, 58);
  width: 70%;
  padding: 3px;
  color: rgb(86, 146, 148);
  margin-left: 30px;
  font-size: 13px;
  margin-top: 10px;;
 }
 .icon{
  color: blue;
 }

 .welcome{
  color:rgb(4, 4, 249) ;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 20px; 
}

.welcome-1{
  color:rgb(4, 4, 249) ;
  text-align: center;
  padding: 6px;
  position: relative;
  font-family: sans-serif;
    
}
.welcome-1::after{
  content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 97%;
    height: 3px;
    background: rgb(38, 19, 210);
  }
  .welcome::before{
    content: "";
      position: absolute;
      top: 46px;
      left: 340px;
      width: 50px;
      height: 2px;
      background:  rgb(38, 19, 210);
    }
.mission{
  color:rgb(65, 65, 238);
  text-align: center;
  padding: 6px; 
}
.mission-1{
  color:rgb(214, 48, 62);
  text-align: justify; 
} 

/* applicant-div-end */

/* gallery-div-start */

.gallery{
  width: 100%;
  height: 520px;
}
.gallery-1{
  width: 90%;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
    
}
.gallery-2{
  width: 90%;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
    
}
.gall{
  text-align: center;
  color: rgb(23, 17, 224);
  margin-top: 30px;
  font-family: 'Poppins', sans-serif; 
 }

.img-1{
  width: 23%;
  height: 200px; 
  box-shadow: 10px 10px 15px rgb(26, 20, 20);
  transition: 1s;
}
.img-2{
  width: 23%;
  height: 200px; 
  box-shadow: 10px 10px 15px rgb(26, 20, 20);
  transition: 1s;
}
.img-1:hover{
  transform: scale(1.1);
}
.img-2:hover{
  transform: scale(1.1);
}


/* gallery-div-end */

/* who-div-start */

.who-div{
  width: 100%;
  height: 450px;
  margin-top: 75px;
}
.who-div-1{
  width: 80%;
  height: 600px;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  }
.left{
  width: 30%;
}
.who-h1{
  background-color: rgb(247, 58, 58);
  color: white;
  padding: 4px;
 }
.must{
  border: 2px solid blue;
  color: rgb(152, 148, 142);
  padding: 7px;
}
 .middle{
  width: 33%;
}
.watch{
  background-color: blue;
  color: white;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
 }
 .watch:hover,.must:hover{
  background-color: brown;

}
 
/* who-div-end */

/*achievement-div-start */
.achievement{
  width: 100%;
  height: 400px;
  
}
.achievement-1{
  width: 90%;
  height: 400px;
  background: rgb(24, 24, 95);
  margin: auto;
  color: rgba(255, 255, 255, 0.718);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.achi-h1{
  text-align: center;
  color: blue;
  font-family: 'Poppins', sans-serif; 
}
.total{
  width: 30%;

}
.h1-total{
  text-align: center;
  padding: 30px;
}
.icon-2{
  border: 1px solid rgb(17, 219, 77);
  font-size: 20px;
  border-radius: 50%;
  padding: 8px;
}

/*achievement-div-end */

/*contact-div-start */
.contact{
  width: 90%;
  height: 300px;
  background: #000;
  color: white;
  margin: auto;
  justify-content: center ;
  align-items: center;
  display: flex;
}
/*contact-div-end */

/*corporate-div-start */

.corporate{
  width: 100%;
  height: 540px;
}
.corporate-1{
  width: 70%;
  height: 540px;
  display: flex;
  margin: auto;  
}
.cor{
  text-align: center;
  margin-top: 50px;
  color: rgb(74, 55, 55);
}
.corporate-2{
  width: 50%;
  height: 600px;
  text-align: justify;
  margin-top: 50px;
}
.corporate-2 h4{
  padding: 25px;
  font-size: 13px;
  margin: auto;
}
.iconn{
  color: red;
  margin-right: 8px;
}
.span{
  padding: 15px;
  color: blue;
  border-radius: 50%;
  box-shadow: -7px -7px 20px 0px #fff9,-4px -4px 5px 0px #fff9,7px 7px 20px 0px #0002,4px 4px 5px 0px #0001,inset 0px 0px 0px 0px #fff9,inset 0px 0px 0px 0px #0001,inset 0px 0px 0px 0px #fff9,inset 0px 0px 0px 0px #0001;
  transition: 1s;
  transform: rotate(30deg);
  margin-left: 15px;
}

.span:hover{
  font-size: 30px;
  color: #FE28A2;
  
}
.corporate-3{
  width: 50%;
  height: 395px;
  color: rgb(255, 0, 68);
  margin-top: 50px;
  text-align: center;
  background: rgb(218, 226, 226);

}
input{
  width: 400px;
  padding: 10px;
  margin-top: 15px;
  box-shadow: inset -7px -7px 20px 0px #fff9,-4px -4px 5px 0px #fff9,7px 7px 20px 0px #0002,4px 4px 5px 0px #0001,inset 0px 0px 0px 0px #fff9,inset 0px 0px 0px 0px #0001,inset 0px 0px 0px 0px #fff9,inset 0px 0px 0px 0px #0001;
  outline: none;
  border: none;
  border: 2px solid rgb(218, 226, 226);
  
}
textarea{
  resize: none;
  text-align: center;
  margin-top: 15px;
  box-shadow: -7px -7px 20px 0px #fff9,-4px -4px 5px 0px #fff9,7px 7px 20px 0px #0002,4px 4px 5px 0px #0001,inset 0px 0px 0px 0px #fff9,inset 0px 0px 0px 0px #0001,inset 0px 0px 0px 0px #fff9,inset 0px 0px 0px 0px #0001;
  outline: none;
  border: none;
  border: 2px solid rgb(218, 226, 226);
}

.corporate-3 button{
  color: rgb(24, 31, 236);
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  box-shadow: -7px -7px 20px 0px #fff9,-4px -4px 5px 0px #fff9,7px 7px 20px 0px #0002,4px 4px 5px 0px #0001,inset 0px 0px 0px 0px #fff9,inset 0px 0px 0px 0px #0001,inset 0px 0px 0px 0px #fff9,inset 0px 0px 0px 0px #0001;
  border: 2px solid rgb(218, 226, 226);
}
.corporate-3 button:hover{
  cursor: pointer;
  background: #aa349ee6;
  color: rgb(218, 226, 226);;
}

/*corporate-div-end */

/*location-map-div-start */

.location-map{
  width: 100%;
  height: 600px;
  text-align: center;
}
.location-map-1{
  width: 90%;
  height: 600px;
  margin: auto;
  margin-top: 70px;
}
.map{
  box-shadow: 5px 5px 15px rgb(179, 174, 164),

  -10px -10px 15px rgb(179, 174, 164);
  border-radius: 10px;
}

/*location-map-div-end */

/*loan-div-start */

.loan{
  width: 90%;
  height: 420px;
  display: flex;
  margin: auto;
 background-color:  rgb(241, 241, 244);
 
}
.loan-left{
  width: 30%;
  height: 367px;
  margin-left: 27px;
  margin-top: 20px;
  text-align: center;
  background: rgb(234, 237, 234);
  box-shadow: 5px 5px 20px black;
  border-radius: 30px;
  
}
.loan-middle{
  width: 30%;
  height: 367px;
  margin-left: 27px;
  margin-top: 20px;
  text-align: center;
  background:rgb(234, 237, 234);;
  box-shadow: 5px 5px 20px black;
  border-radius: 30px;
  
}
.loan-right{
  width: 30%;
  height: 367px;
  margin-left: 27px;
  margin-top: 20px;
  text-align: center;
  background: rgb(234, 237, 234);
  box-shadow: 5px 5px 20px black;
  border-radius: 30px;
}
.loan-left h2,.loan-middle h2,.loan-right h2{
  padding: 15px;
  color: whitesmoke;
  background-color:#FE28A2;
  border-top-right-radius: 20px;
 }

.hand{
  margin-right: 15px;
}
.loan-left h6,.loan-middle h6,.loan-right h6{
  padding: 15px;
  color: rgb(47, 47, 30);
  box-shadow: -7px -7px 20px 0px #fff9,-4px -4px 5px 0px #fff9,7px 7px 20px 0px #0002,4px 4px 5px 0px #0001,inset 0px 0px 0px 0px #fff9,inset 0px 0px 0px 0px #0001,inset 0px 0px 0px 0px #fff9,inset 0px 0px 0px 0px #0001;
}

.loan-left h6:hover,.loan-middle h6:hover,.loan-right h6:hover{
  color: blue;
  font-size: 15px;
 
}
.star{
  margin-right: 15px;
  color: rgb(222, 15, 241);
}

/*loan-div-end */

/*footer-section-start */

.footer{
  width: 90%;
  height: 500px;
  background: rgb(22, 18, 39);
  margin: auto; 
  color: white; 
}
.footer-1{
  width: 90%;
  height: 350px;
  display: flex;
  margin: auto;
}

.top-icon{
  text-align: center;
  background: rgb(184, 40, 40);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: auto;  
}
.follow{
  width: 30%;
  height: 400px;
  margin-top: 30px;
  
}
.follow-1{
  width: 30%;
  height: 400px;
  margin-top: 30px;
  
}
.follow-1{
  width: 30%;
  height: 400px;
  margin-top: 30px;
  
}
.follow-2 h2{
  padding: 15px;
  
}
.follow h4,.follow-1 h4{
  margin-top: 20px;
  
}
.icon-follow{
  margin-right: 15px;
  color: rgb(228, 236, 238);
}
.mapp{
  margin-top: 15px;
  border-radius: 20px;
}
.copy{
  margin-top: 200px;
}

/*footer-section-end */

